# Post Test 4 | Data Preprocessing
#### Nama   : Novia Indah Ramadhani
#### NIM    : 2109106041
#### Kelas  : A2 2021
### Dataset : Brain Stroke
#### Link   : https://www.kaggle.com/datasets/jillanisofttech/brain-stroke-dataset

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
dataset_split = pd.read_csv("brain_stroke.csv")

dataset_split.head(10)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
5,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
6,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
7,Female,78.0,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1
8,Female,81.0,1,0,Yes,Private,Rural,80.43,29.7,never smoked,1
9,Female,61.0,0,1,Yes,Govt_job,Rural,120.46,36.8,smokes,1

In [3]:
dataset_split.info()
dataset_split.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4981 entries, 0 to 4980
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4981 non-null   object
 1   age                4981 non-null   float64
 2   hypertension       4981 non-null   int64
 3   heart_disease      4981 non-null   int64
 4   ever_married       4981 non-null   object
 5   work_type          4981 non-null   object
 6   Residence_type     4981 non-null   object
 7   avg_glucose_level  4981 non-null   float64
 8   bmi                4981 non-null   float64
 9   smoking_status     4981 non-null   object
 10  stroke             4981 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 428.2+ KB

(4981, 11)

### Bagi ke Dua Var X dan Y
#### Bagi dataset menjadi training set dan testing set dengan proporsi 70:30

In [4]:
x = dataset_split.iloc[:, :-1]
y = dataset_split.iloc[:, -1]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)


print("\nDIMENSI\n+--------------------------------------+")
print("Dimensi x_train", x_train.shape)
print("Dimensi x_test", x_test.shape)
print("Dimensi y_train", y_train.shape)
print("Dimensi y_test", y_test.shape)

DIMENSI
+--------------------------------------+
Dimensi x_train (3486, 10)
Dimensi x_test (1495, 10)
Dimensi y_train (3486,)
Dimensi y_test (1495,)

### Normalisasi
#### Lakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler (buatlah copy dataset terlebih dahulu)

In [5]:
from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()

In [6]:
x_norm = min_max_scaler.fit_transform(
    dataset_split[['age', 'hypertension', 'avg_glucose_level', 'bmi']]
)

data_normalisasi = pd.DataFrame(x_norm)
data_normalisasi.head()

          0    1         2         3
0  0.816895  0.0  0.801265  0.647564
1  0.975586  0.0  0.234512  0.530086
2  0.597168  0.0  0.536008  0.584527
3  0.963379  1.0  0.549349  0.286533
4  0.987793  0.0  0.605161  0.429799

### Standarisasi
#### Lakukan standarisasi pada dataset (buatlah copy dataset terlebih dahulu)

In [7]:
print("Nilai Standar Deviasi sebelum distandarisasi: ")
np.std(dataset_split)

Nilai Standar Deviasi sebelum distandarisasi:

C:\Users\ASUS\AppData\Roaming\Python\Python310\site-packages\numpy\core\fromnumeric.py:3571: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

age                  22.660480
hypertension          0.294818
heart_disease         0.228389
avg_glucose_level    45.070848
bmi                   6.789782
stroke                0.217509
dtype: float64

In [8]:
from sklearn.preprocessing import StandardScaler
standard_scaler = StandardScaler()

In [9]:
x_standard = standard_scaler.fit_transform(
    dataset_split[['age', 'hypertension', 'avg_glucose_level', 'bmi']]
)

print("Nilai sesudah distandarisasi: ")
np.std(x_standard)

Nilai sesudah distandarisasi:

0.9999999999999999

In [10]:
# Buat ngecek nilainya
np.mean(x_standard)

-1.305253168481212e-16

In [11]:
data_standarisasi = pd.DataFrame(x_standard)
data_standarisasi.head()

          0         1         2         3
0  1.040584 -0.326186  2.723411  1.193238
1  1.614270 -0.326186 -0.000523  0.589390
2  0.246250 -0.326186  1.448529  0.869222
3  1.570141  3.065738  1.512650 -0.662492
4  1.658400 -0.326186  1.780895  0.073909

### Data Cleaning
#### Lakukan Data cleaning pada data dengan nilai null (jika tidak ada nilai null pada dataset, maka buatlah menjadi ada).

In [45]:
# Baca Dataset yang rusak
dataset_split_rusak = pd.read_csv('brain_stroke_rusak.csv')

# Nampilin dataset dari 5-50
dataset_split_rusak[5:50]

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
5,Male,74.0,1,1,Yes,Private,Rural,NaN,27.4,never smoked,1
6,Female,69.0,0,0,No,Private,Urban,NaN,22.8,never smoked,1
7,Female,78.0,0,0,Yes,Private,Urban,NaN,24.2,Unknown,1
8,Female,81.0,1,0,Yes,Private,Rural,NaN,29.7,never smoked,1
9,Female,61.0,0,1,Yes,Govt_job,Rural,NaN,36.8,smokes,1
10,Female,54.0,0,0,Yes,Private,Urban,NaN,27.3,smokes,1
11,Female,79.0,0,1,Yes,Private,Urban,NaN,28.2,never smoked,1
12,Female,NaN,1,0,Yes,Self-employed,Rural,NaN,30.9,never smoked,1
13,Male,NaN,0,1,Yes,Private,Urban,NaN,37.5,smokes,1
14,Male,NaN,1,0,Yes,Private,Urban,NaN,25.8,smokes,1
15,Female,60.0,0,0,No,Private,Urban,NaN,37.8,never smoked,1
16,Female,71.0,0,0,Yes,Govt_job,Rural,NaN,22.4,smokes,1
17,Female,52.0,1,0,Yes,Self-employed,Urban,NaN,48.9,never smoked,1
18,Female,79.0,0,0,Yes,Self-employed,Urban,228.70,26.6,never smoked,1
19,Female,79.0,0,0,Yes,Self-employed,Urban,228.70,26.6,never smoked,1
20,Female,79.0,0,0,Yes,Self-employed,Urban,228.70,26.6,never smoked,1
21,Female,79.0,0,0,Yes,Self-employed,Urban,228.70,26.6,never smoked,1
22,Female,79.0,0,0,Yes,Self-employed,Urban,228.70,26.6,never smoked,1
23,Male,69.0,0,1,Yes,Self-employed,Urban,195.23,28.3,smokes,1
24,Male,57.0,1,0,Yes,Private,Urban,212.08,44.2,smokes,1
25,Male,42.0,0,0,Yes,Private,Rural,83.41,25.4,Unknown,1
26,Female,82.0,1,0,Yes,Self-employed,Urban,196.92,22.2,never smoked,1
27,Male,80.0,0,1,Yes,Self-employed,Urban,252.72,30.5,formerly smoked,1
28,Male,48.0,0,0,No,Govt_job,Urban,84.20,29.7,never smoked,1
29,Female,82.0,1,1,No,Private,Rural,84.03,26.5,formerly smoked,1
30,Male,74.0,0,0,Yes,Private,Rural,219.72,33.7,formerly smoked,1
31,Female,72.0,1,0,Yes,Private,Rural,74.63,23.1,formerly smoked,1
32,Male,58.0,0,0,No,Private,Rural,92.62,32.0,Unknown,1
33,Female,49.0,0,0,Yes,Private,Urban,60.91,29.9,never smoked,1
34,Male,78.0,0,0,Yes,Private,Rural,78.03,23.9,formerly smoked,1
35,Male,54.0,0,0,Yes,Private,Urban,71.22,28.5,never smoked,1
36,Male,82.0,0,1,Yes,Private,Urban,144.90,26.4,smokes,1
37,Male,60.0,1,0,Yes,Govt_job,Urban,213.03,20.2,smokes,1
38,Male,76.0,1,0,Yes,Private,Rural,243.58,33.6,never smoked,1
39,Female,58.0,0,0,Yes,Private,Urban,107.26,38.6,formerly smoked,1
40,Male,81.0,0,0,Yes,Self-employed,Urban,99.33,33.7,never smoked,1
41,Female,39.0,1,0,Yes,Private,Rural,58.09,39.2,smokes,1
42,Female,79.0,0,1,Yes,Private,Rural,127.29,27.7,never smoked,1
43,Female,77.0,1,0,Yes,Self-employed,Urban,124.13,31.4,never smoked,1
44,Male,63.0,0,1,Yes,Private,Rural,196.71,36.5,formerly smoked,1
45,Female,82.0,0,0,Yes,Private,Rural,59.32,33.2,never smoked,1
46,Male,73.0,1,0,Yes,Self-employed,Urban,194.99,32.8,never smoked,1
47,Female,54.0,1,0,Yes,Govt_job,Urban,180.93,27.7,never smoked,1
48,Female,56.0,0,0,Yes,Private,Urban,185.17,40.4,formerly smoked,1
49,Female,80.0,1,0,Yes,Private,Rural,74.90,22.2,never smoked,1

In [24]:
print("Cek data dengan nilai NULL :")
dataset_split_rusak.isna().sum()

Cek data dengan nilai NULL :

gender                0
age                   3
hypertension          0
heart_disease         0
ever_married          0
work_type             0
Residence_type        0
avg_glucose_level    25
bmi                   0
smoking_status        0
stroke                0
dtype: int64

In [25]:
dataset_split_rusak.dtypes

gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

#### Ganti nilai null sesuai ketentuan. (bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus). Nilai plus jika strategy yang digunakan menggunakan 3 nilai

In [30]:
# Substitusi nilai NULL pada atribut avg_glucose_level dengan tipe data float dengan strategy mean
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy = "mean")
dataset_split_rusak['avg_glucose_level'] = imputer.fit_transform(dataset_split_rusak[['avg_glucose_level']])

print ("Setelah data cleaning : ")
dataset_split_rusak.isna().sum()

Setelah data cleaning :

gender               0
age                  3
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [31]:
# Substitusi nilai NULL pada atribut avg_glucose_level dengan tipe data float dengan strategy mean
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy = "mean")
dataset_split_rusak['age'] = imputer.fit_transform(dataset_split_rusak[['age']])

print ("Setelah data cleaning : ")
dataset_split_rusak.isna().sum()

Setelah data cleaning :

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

### Data Cleanining | Duplikat
#### Lakukan Data cleaning pada data dengan nilai duplikat. (Jika tidak ada nilai duplikat pada dataset, maka buatlah menjadi ada)

In [46]:
print ("Cek data duplikat :")
dataset_split_rusak[dataset_split_rusak.duplicated()]

Cek data duplikat :

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
19,Female,79.0,0,0,Yes,Self-employed,Urban,228.70,26.6,never smoked,1
20,Female,79.0,0,0,Yes,Self-employed,Urban,228.70,26.6,never smoked,1
21,Female,79.0,0,0,Yes,Self-employed,Urban,228.70,26.6,never smoked,1
22,Female,79.0,0,0,Yes,Self-employed,Urban,228.70,26.6,never smoked,1
273,Female,54.0,0,0,Yes,Private,Urban,NaN,27.3,smokes,1
274,Female,54.0,0,0,Yes,Private,Urban,NaN,27.3,smokes,1
275,Female,54.0,0,0,Yes,Private,Urban,NaN,27.3,smokes,1
276,Female,54.0,0,0,Yes,Private,Urban,NaN,27.3,smokes,1
277,Female,54.0,0,0,Yes,Private,Urban,NaN,27.3,smokes,1
278,Female,54.0,0,0,Yes,Private,Urban,NaN,27.3,smokes,1
279,Female,54.0,0,0,Yes,Private,Urban,NaN,27.3,smokes,1
4813,Female,80.0,1,0,Yes,Private,Urban,83.75,29.1,never smoked,0
4814,Female,80.0,1,0,Yes,Private,Urban,83.75,29.1,never smoked,0
4815,Female,80.0,1,0,Yes,Private,Urban,83.75,29.1,never smoked,0
4816,Female,80.0,1,0,Yes,Private,Urban,83.75,29.1,never smoked,0
4817,Female,80.0,1,0,Yes,Private,Urban,83.75,29.1,never smoked,0
4818,Female,80.0,1,0,Yes,Private,Urban,83.75,29.1,never smoked,0
4819,Female,80.0,1,0,Yes,Private,Urban,83.75,29.1,never smoked,0
4820,Female,80.0,1,0,Yes,Private,Urban,83.75,29.1,never smoked,0
4821,Female,80.0,1,0,Yes,Private,Urban,83.75,29.1,never smoked,0
4980,Female,80.0,1,0,Yes,Private,Urban,83.75,29.1,never smoked,0

In [47]:
print("Jumlah data duplikat : ")
dataset_split_rusak.duplicated().sum()

Jumlah data duplikat :

21

In [48]:
dataset_split_rusak.drop_duplicates(inplace=True)

print ("Cek Data Duplikat : ")
dataset_split_rusak[dataset_split_rusak.duplicated()]

Cek Data Duplikat :

Empty DataFrame
Columns: [gender, age, hypertension, heart_disease, ever_married, work_type, Residence_type, avg_glucose_level, bmi, smoking_status, stroke]
Index: []


#### Ganti tipe data salah satu attribute angka

In [49]:
print ("Tipe Data Sebelum: ")
dataset_split_rusak['heart_disease'].dtypes

Tipe Data Sebelum:

dtype('int64')

In [50]:
print ("Tipe Data Sesudah: ")
data_ganti = dataset_split_rusak[['heart_disease']].astype('float64')
data_ganti['heart_disease'].dtypes

Tipe Data Sesudah:

dtype('float64')

### Encoding
#### Lakukan one hot encoding pada dataset

In [51]:
from sklearn.preprocessing import OneHotEncoder

In [52]:
# Menggunakan sparse agar mendapat data yang 2D bukan 1D

onehot_encoder = OneHotEncoder(sparse = False)

onehot = onehot_encoder.fit_transform(dataset_split_rusak[["gender"]])

dataset_split_rusak_onehot = pd.DataFrame(onehot)

dataset_split_rusak_onehot.head()

data = dataset_split_rusak.join(data_onehot)

data.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,0,1
0,Male,67.0,0,1,Yes,Private,Urban,NaN,36.6,formerly smoked,1,0.0,1.0
1,Male,80.0,0,1,Yes,Private,Rural,NaN,32.5,never smoked,1,0.0,1.0
2,Female,49.0,0,0,Yes,Private,Urban,NaN,34.4,smokes,1,1.0,0.0
3,Female,79.0,1,0,Yes,Self-employed,Rural,NaN,24.0,never smoked,1,1.0,0.0
4,Male,81.0,0,0,Yes,Private,Urban,NaN,29.0,formerly smoked,1,0.0,1.0